@model List<MyMVC.Models.People>

@{
    ViewData["Title"] = "Update Employee ";
}

<style>
    
</style>

<div>
    <div class="list">
        <table>
            <thead class="list-names">
                <tr>
                    <th class="list-columns">Full Name</th>
                    <th class="list-columns">Age</th>
                    <th class="list-columns">Role</th>
                    <th class="list-columns">Email</th>
                </tr>
            </thead>
            <tbody class="list-fields">
                @if (Model != null)
                {
                    foreach (var c in Model)
                    {
                        <tr>
                            <td class="mnames">@c.Name</td>
                            <td class="mnames">@c.Age</td>
                            <td class="mnames">@c.Role</td>
                            <td class="mnames">@c.Email</td>
                            <td class="mnames">
                                <form asp-controller="management" asp-action="delemp">
                                    <input type="hidden" name="id" value="@c.Id" />
                                    <button class="del-btn" type="submit"> <img class="del-pic" src="~/images/delete-button-removebg-preview.png" /></button>
                                </form>

                                <div class="upd-btn">
                                    <a asp-controller="management" asp-action="updemp" asp-route-id="@c.Id">
                                        <img class="upd-pic" src="~/images/update-button-removebg-preview.png" />
                                    </a>
                                </div>

                            </td>
                        </tr>
                    }
                }
                else
                {
                    <p class="mnames">Model is NULL</p>
                }
            </tbody>
        </table>
    </div>
</div>